
.row-5 {
  margin: 73px 0 0 2.5%; /* 36px / 1440px = 2.5% */
  position: relative;
  width: 88.888885%; /* 1280px / 1440px = 88.888885% */
  z-index: 181;
}
.shape-5 {
  float: left;
  margin: 0 3.59375% 0 0; /* 46px / 1280px = 3.59375% */
  width: 23px;
}
.col-23 {
  float: left;
  margin: 3px 0 0;
  position: relative;
  width: 94.609375%; /* 1211px / 1280px = 94.609375% */
}
.title-2 {
  font-size: 208.33331%; /* 33.33px / 16px = 208.31252% */
  letter-spacing: 0;
  text-transform: uppercase;
}
.shape-6 {
  height: 9px;
  margin: 34px 0 0;
  position: relative;
  width: 7.844757%; /* 95px / 1211px = 7.844757% */
  background: #2fc8e1;
}
.row-9 {
  left: 1.238646%;
  margin: 66px auto 0;
  position: relative;
  width: 83.64988%; /* 1013px / 1211px = 83.64988% */
}
.col-16 {
  float: left;
  position: relative;
  width: 18.065153%; /* 183px / 1013px = 18.065153% */
}
.place-your-design-here-double-click-to-edit {
  display: block;
  position: relative;
  width: 137px;
}
.subtitle {
  margin: 42px 0 0 2.185792%; /* 4px / 183px = 2.185792% */
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}
.col-17 {
  float: left;
  margin: 0 0 0 22.408688%; /* 227px / 1013px = 22.408688% */
  position: relative;
  width: 17.57157%; /* 178px / 1013px = 17.57157% */
}
.place-your-design-here-double-click-to-edit-2 {
  display: block;
  margin: 0 auto;
  width: 137px;
}

.subtitle-1 {
  margin: 42px 0 0;
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}
.subtitle-2 {
  margin: 42px 0 0;
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}
.col-18 {
  float: left;
  margin: 0 0 0 24.284304%; /* 246px / 1013px = 24.284304% */
  position: relative;
  width: 17.670286%; /* 179px / 1013px = 17.670286% */
}
.place-your-design-here-double-click-to-edit-3 {
  display: block;
  position: relative;
  width: 137px;
}
.subtitle-3 {
  margin: 42px 0 0;
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}
.row-6 {
  left: 0.619323%;
  margin: 39px auto 0;
  position: relative;
  width: 98.76135%; /* 1196px / 1211px = 98.76135% */
}
.body-text-2 {
  float: left;
  width: 30.016722%; /* 359px / 1196px = 30.016722% */
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  letter-spacing: 0;
  line-height: 150%; /* 37.5px / 25px = 150% */
  text-align: center;
}
.body-text-3 {
  float: left;
  margin: 0 0 0 5.183947%; /* 62px / 1196px = 5.183947% */
  width: 30.016722%; /* 359px / 1196px = 30.016722% */
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  letter-spacing: 0;
  line-height: 150%; /* 37.5px / 25px = 150% */
  text-align: center;
}
.body-text-4 {
  float: left;
  margin: 0 0 0 4.765886%; /* 57px / 1196px = 4.765886% */
  width: 30.016722%; /* 359px / 1196px = 30.016722% */
  font-size: 156.25%; /* 25px / 16px = 156.25% */
  letter-spacing: 0;
  line-height: 150%; /* 37.5px / 25px = 150% */
  text-align: center;
}
.shape-7 {
  display: block;
  left: 45.868057%;
  margin: 28px auto 0;
  position: relative;
  width: 23px;
  z-index: 184;
}